
body{background-color: #1E1A1A;
margin: 0px;
}

#onglets{
padding-bottom: 29px;
margin-left: auto;}

#onglets li{
 float: left;
 list-style: none; 
 padding-left: 3pt; 
 padding-right: 6pt;
 padding-top: 1pt;
 padding-bottom: 1pt;
 border-bottom: 1%;
 background-color: #CF6615;
 Font-Weight: Bold;
 font-size: 20px;}


h1{
	color: #CF6615;
	text-align: center;
	font-size: 275%;
	
}

.photo {
	margin-left: 20% ;
	margin-top: 4%
}
.photo4 {
	margin-left: 30% ;
	margin-top: 4%
}
h2 {
	color:#CF6615;
	font-size: 180%;
	font-family: Arial;
	text-align: center;
}

p{
	color:  #FFE4C4;
	font-family: Arial;
	margin:10px;
}
a {
	color: black
}
.lienOnglet{
	text-decoration:none; 
}
.lientxt{
	color:#CF6615;
}

.vol a:hover{
	background-color: #1E1A1A;
	color: #CF6615;
	padding-left: 20pt; 
    padding-right: 20pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
}
article{
	border-style: solid;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 7%;
	margin-right: 7%;
	background-color: #303030;
	border-color: #CF6615;
}
figcaption{
	margin-left: 30%;
	color:#FFE4C4;
}
.lgnourissage{
	margin-left: 6%;
	color:#FFE4C4;
}
header{
	background-color :#CF6615;
	padding: 1%;
	margin-top: 15pt;

}
.listeProduit{
	margin-left: 10%
}
.produit{
	color:#FFE4C4;
}
.lgrepro{
	margin-left:0%
}
.lgex{
	margin-left:18%
}
.photo9{
	margin-left: 30%
}
.lgbebe{
	margin-left: 19%
}
